---
# Main style
---
@charset "utf-8";

$fa-font-path: "{{ site.baseurl }}/css/fonts";
$grid-float-breakpoint: 15000px;

@import
        "Font-Awesome/fontawesome.scss",
        "Font-Awesome/brands.scss",
        "Font-Awesome/solid.scss",
        "bootstrap/_bootstrap.scss",
        "_syntax-highlighting.scss"
;

[v-cloak] {
    display: none;
}

%vertical-rhythm {
    margin-bottom: 15px;
}

body {
    position: relative;
    padding-top: 70px;
    padding-bottom: 40px;
}

div.article-toc {
    display: none;
}
#markdown-toc {
    display: none;
}

#article-toc {
    a {
        color: #767676;
    }
    &>.nav>li>a {
        padding: 4px 20px;
        font-size: 13px;
        color: #767676;
    }
    .nav .nav {
        display: none;
        &>li>a {
            padding-top: 1px;
            padding-bottom: 1px;
            padding-left: 30px;
            font-size: 12px;
        }
    }
    .active .nav {
        display: block;
    }
    &>.nav>.active>a {
        font-weight: 700;
        color: #563d7c;
        background-color: transparent;
        padding-left: 18px;
        border-left: 2px solid #563d7c;
    }
    .nav .nav>.active>a {
        color: #563d7c;
        border-left: 2px solid #563d7c;
        padding-left: 28px;
        font-weight: 600;
    }
}

.footer {
    background-color: #fff;
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
    a i {
        margin-right: 5px;
    }
    a {
        margin-left: 20px;
        color: #767676;
        &:hover {
            color: $link-color;
        }
    }
    li {
        padding: 0 2px;
        @media (min-width: 450px) {
            padding: 0 10px;
        }
    }
}

#gitter-container {
    margin: 25px 0 25px 0;
    text-align: right;
}

div.highlighter-rouge {
    position: relative;
    button.copy-to-clipboard {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0.2;
        font-size: 0.6em;
        transition: all 0.2s ease;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
    }
    &:hover button.copy-to-clipboard {
        opacity: 1;
        font-size: 0.9em;
    }
}
