<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="social-media-list">
					<li>
						<a href="https://github.com/mlocati"><i class="fa fa-github" aria-hidden="true"></i><span>mlocati</span></a>
					</li>
					<li>
						<a href="mailto:mlocati@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i><span>mlocati@gmail.com</span></a>
					</li>
					<li>
						<a href="https://www.facebook.com/michele.locati"><i class="fa fa-facebook" aria-hidden="true"></i><span>michele.locati</span></a>
					</li>
                    <li>
                        <a href="https://twitter.com/LocatiM"><i class="fa fa-twitter" aria-hidden="true"></i><span>LocatiM</span></a>
                    </li>
					<li>
						<a href="https://it.linkedin.com/in/LocatiM"><i class="fa fa-linkedin" aria-hidden="true"></i><span>LocatiM</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<script src="{{ "/js/site.js" | prepend: site.baseurl }}"></script>
