<footer class="footer navbar-fixed-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<ul class="list-inline">
					<li>
						<a title="GitHub" href="https://github.com/mlocati"><i class="fa-brands fa-github"></i><span class="hidden-md hidden-sm hidden-xs">mlocati</span></a>
					</li>
					<li>
						<a title="Email" href="mailto:mlocati@gmail.com"><i class="fa-solid fa-envelope"></i><span class="hidden-md hidden-sm hidden-xs">mlocati@gmail.com</span></a>
					</li>
					<li>
						<a title="Bluesky" href="https://bsky.app/profile/michele.locati.it"><i class="fa-brands fa-bluesky"></i><span class="hidden-md hidden-sm hidden-xs">michele.locati.it</span></a>
					</li>
					<li>
						<a title="LinkedIn" href="https://linkedin.com/in/LocatiM"><i class="fa-brands fa-linkedin"></i><span class="hidden-md hidden-sm hidden-xs">LocatiM</span></a>
					</li>
                    <li>
                        <a title="Telegram" href="https://telegram.me/mlocati"><i class="fa-brands fa-telegram"></i><span class="hidden-md hidden-sm hidden-xs">mlocati</span></a>
                    </li>
                    <li>
                        <a title="PayPal" href="https://paypal.me/mlocati"><i class="fa-brands fa-paypal"></i><span class="hidden-md hidden-sm hidden-xs">mlocati</span></a>
                    </li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<script>
(function() {

function ready() {
	document.querySelectorAll('div.highlighter-rouge').forEach(function(block) {
		const button = document.createElement('button');
		button.className = 'copy-to-clipboard';
		button.title = 'Copy to clipboard';
		button.innerHTML = '&#128203;'; // CLIPBOARD'
		block.appendChild(button);
		new Clipboard(button, {
			target: () => block,
		});
	});
}

if (document.readyState !== 'loading') {
	ready();
} else {
	document.addEventListener('DOMContentLoaded', ready);
}

})();
</script>
<script src="{{ "/js/site.js" | prepend: site.baseurl }}"></script>
