<footer class="footer navbar-fixed-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<ul class="list-inline">
					<li>
						<a title="GitHub" href="https://github.com/mlocati"><i class="fa fa-github" aria-hidden="true"></i><span class="hidden-sm">mlocati</span></a>
					</li>
					<li>
						<a title="Email" href="mailto:mlocati@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i><span class="hidden-sm">mlocati@gmail.com</span></a>
					</li>
					<li>
						<a title="Facebook" href="https://www.facebook.com/michele.locati"><i class="fa fa-facebook" aria-hidden="true"></i><span class="hidden-sm">michele.locati</span></a>
					</li>
					<li>
						<a title="Twitter" href="https://twitter.com/LocatiM"><i class="fa fa-twitter" aria-hidden="true"></i><span class="hidden-sm">LocatiM</span></a>
					</li>
					<li>
						<a title="LinkedIn" href="https://linkedin.com/in/LocatiM"><i class="fa fa-linkedin" aria-hidden="true"></i><span class="hidden-sm">LocatiM</span></a>
					</li>
                    <li>
                        <a title="Telegram" href="https://telegram.me/mlocati"><i class="fa fa-telegram" aria-hidden="true"></i><span class="hidden-sm">mlocati</span></a>
                    </li>
                    <li>
                        <a title="Skype" href="skype:mlocati?chat"><i class="fa fa-skype" aria-hidden="true"></i><span class="hidden-sm">mlocati</span></a>
                    </li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<script>
$(document).ready(function() {
	$('div.highlighter-rouge').append($('<button class="copy-to-clipboard" title="Copy to clipboard"><i class="fa fa-files-o" aria-hidden="true"></i></button>'));
	new Clipboard('button.copy-to-clipboard', {
		target: function(button) {
			return $(button).closest('div.highlighter-rouge')[0];
		}
	});
});
</script>
<script src="{{ "/js/site.js" | prepend: site.baseurl }}"></script>
